// Bootstrap
// =========

// You can include less bootstrap components if you like by
// importing the .less files you want directly, instead of
// the main bootstrap/bootstrap.less file.
//
// Bootstrap can be removed entirely by deleting this line.

@import "bootstrap/bootstrap.less";

// The easiest way to customise Bootstrap variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.

@import "site/variables.less";


// Site Styles
// ===========

// Add your own site style includes here
@import "site/layout.less";

.template {display: none;}
.inline {
	display:inline
}

.vector-color {
	width:100%;
	display:block;

}

.vector-color .sp-picker-container {
	width:100px;
}

.color_container {
	width:200px;
	height:200px;
	background-color: auto;
	border: solid 5px #0ff;
}

.color_container.active {
	background-color: auto;
	position:fixed;
	top:0; left:0;
	width:100vw;
	height:100vh;
}
