extends ../layouts/default

block intro
	.container
		h1 Show

block content
	if user && user.canAccessKeystone
		.container
			#deck-cfg
				label
					p.inline Numero de vectores
					input#deck-cfg-vectors(type='text' value='3')
				button#deck-cfg-submit Disparar!
			#vector-deck
			#scripts-deck
		//plantillas
		.vector-template.template
			#vector-entry-__id.vector-entry
				.vector-color
					input.vector-color-picker(type='text')
					label
						p.inline probabilista
						input.vector-probability(type='checkbox')
						br
						p.inline frecuencia
						input.vector-probability-h-speed(type='range' min='0' max='1000' step='1' value='$h_speed')
						br
						p.inline interpolar
						input.vector-probability-interpolation(type='checkbox')
						br
						p.inline velocidad interpolacion
						input.vector-probability-interpolation-speed(type='range' min='0' max='1000' step='1' value='$p_interpolation_speed')
					label
						br
						p.inline vector probabilidad
						input.vector-probability-picker(type='text')
					label
						p.inline interpolacion
						input.vector-interpolation(type='checkbox')
						p.inline velocidad
						input.vector-interpolation-speed(type='range' min='0' max='1' step='0.001' value='$inter_speed')
					label
						p.inline sync
						input.vector-sync(type='checkbox')
						button.vector-sync-update actualizar
						button.vector-sync-recover restaurar
				.vector-sound
					input.vector-hz(type='range' min='0' max='100' step='0.01' value='$hzvalue')
	else
		.container
			#color_container.color_container


block css
	link(rel='stylesheet' href='/styles/spectrum.css')

block js
	script(src='/socket.io/socket.io.js')
	script(src='/js/spectrum.min.js')
	if user && user.canAccessKeystone
		script(src='/js/app/master.js')
	else
		script(src='/js/app/client.js')
